@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --primary-green: #3BA8A0;
  --secondary-green: #41AA67;
  --primary-yellow:#FFC849;
  --font-primary: "Bricolage Grotesque", serif;
  --font-secondary: "Host Grotesk", serif;
  --background: #ffffff;
  --foreground: #171717;

  --spacing-vertical-large: 3rem;
}
