.accounts {
    width: 48%;

    &--single {
        margin-inline: auto;
        width: 80%;
    }
}

.clickable {
    cursor: pointer;
}

.account {
    background: rgba(0, 0, 0, .1);
    display: flex;
    min-width: 550px;
    margin-bottom: 2rem;
    border-radius: 12px;
    padding: 1rem 1.5rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &--single {
        margin-inline: auto;
    }
    
    &__main {}
    &__name {}
    &__badge {
        margin: 0;
        color: var(--primary-yellow);
        background: var(--primary-green);
        display: inline-block;
        font-size: 12px;
        padding: 4px 10px;
        border-radius: 25px;
        
    }
    &__summary {}
    &__amount {
        font-family: var(--font-secondary);
        font-size: 3rem;
        font-weight: 600;
        color: var(--secondary-green);

        &--negative {
            color: red;
        }
    }
}