.feature {
    &__boxes {
        display: flex;
        justify-content: space-between;
    }

    &__text {}

    &__title  {
        display: flex;
        gap: 1rem;
        align-items: center;

        strong {
           background: #000;
           color: #fff;
           width: 20px;
           height: 20px;
           line-height: 1;
           padding: 20px;
           display: flex;
           justify-content: center;
           align-items: center;
           border-radius: 50%;
        }
        
        * {
            font-style: normal;
        }
    }
}