.site-header {
    background: var(--primary-green);
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1.5rem;

    &__logo {
        font-size: 32px;
        font-weight: 800;
        color: var(--primary-yellow);
    }

    &__menu {
        list-style: none;
        display: flex;
        gap: 2rem;
        font-size: 1.25rem;
    }

    &__link {
        color: #fff;
        font-weight: 600;
        transition: .25s;

        &:hover,
        &:active {
            color: var(--primary-yellow);
        }
    }
}